openapi: 3.0.2
info:
  title: Amazon Ads API - Sponsored Brands
  description: "Use the Amazon Ads API for Sponsored Brands for campaign, ad group,\
    \ keyword, negative keyword, drafts, Stores, landing pages, and Brands management\
    \ operations. For more information about Sponsored Brands, see the [Sponsored\
    \ Brands Support Center](https://advertising.amazon.com/help#GQFZA83P55P747BZ).\
    \ For onboarding information, see the [account setup](https://advertising.amazon.com/API/docs/v3/guides/account_setup)\
    \ topic. "
  contact:
    name: Amazon Ads API Support
    url: https://amzn-clicks.atlassian.net/servicedesk/customer/portals
  license:
    name: Amazon Ads API License Agreement
    url: https://advertising.amazon.com/API/docs/license-agreement
  version: "3.0"
servers:
- url: https://advertising-api.amazon.com
- url: https://advertising-api-eu.amazon.com
- url: https://advertising-api-fe.amazon.com
security:
- bearerAuth: []
tags:
- name: Keywords
- name: Negative keywords
- name: Product targeting
- name: Negative product targeting
- name: Theme targeting
- name: Targeting recommendations
- name: Bid recommendations
- name: Budget Rules Recommendations
- name: Keyword Recommendations
- name: Stores
  description: (Not available for video campaigns)
- name: Landing page asins
  description: (Not available for video campaigns)
- name: Media
- name: Brands
- name: Moderation
  description: (Not available for video campaigns)
paths:
  /brands:
    get:
      tags:
      - Brands
      summary: getBrands
      description: "Gets an array of Brand data objects for the Brand associated with\
        \ the profile ID passed in the header. For more information about Brands,\
        \ see [Brand Services](https://brandservices.amazon.com/)."
      operationId: getBrands
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: brandTypeFilter
        in: query
        description: The returned array is filtered to include only brands with brand
          type set to one of the values in the specified comma-delimited list. Returns
          all brands if not specified.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/BrandType'
      responses:
        "200":
          description: Successful operation.
          content:
            application/vnd.brand.v3+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200'
                x-content-type: application/vnd.brand.v3+json
  /sb/keywords:
    get:
      tags:
      - Keywords
      summary: "Gets an array of keywords, filtered by optional criteria."
      description: "**Note**: Keywords associated with BrandVideo ad groups are only\
        \ available in v3.2 version."
      operationId: listKeywords
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: Sets a zero-based offset into the requested set of keywords.
          Use in conjunction with the `count` parameter to control pagination of the
          returned array.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: count
        in: query
        description: "Sets the number of keywords in the returned array. Use in conjunction\
          \ with the `startIndex` parameter to control pagination. For example, to\
          \ return the first ten keywords set `startIndex=0` and `count=10`. To return\
          \ the next ten keywords, set `startIndex=10` and `count=10`, and so on."
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: matchTypeFilter
        in: query
        description: The returned array is filtered to include only keywords with
          `matchType` set to one of the values in the specified comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/MatchType'
      - name: keywordText
        in: query
        description: The returned array includes only keywords with the specified
          text.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: stateFilter
        in: query
        description: The returned array is filtered to include only keywords with
          'state' set to one of the values in the specified comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - enabled
          - paused
          - archived
          default: "enabled,paused"
      - name: campaignIdFilter
        in: query
        description: The returned array includes only keywords associated with campaigns
          matching those specified by identifier in the comma-delimited string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: adGroupIdFilter
        in: query
        description: The returned array includes only keywords associated with ad
          groups matching those specified by identifier in the comma-delimited string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: keywordIdFilter
        in: query
        description: The returned array includes only keywords with identifiers matching
          those specified in the comma-delimited string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: creativeType
        in: query
        description: "Filter by the type of creative the campaign is associated with.\
          \ To get keywords associated with non-video campaigns specify 'productCollection'.\
          \ To get keywords associated with video campaigns, this must be set to 'video'.\
          \ Returns all keywords if not specified."
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/CreativeType'
      - name: locale
        in: query
        description: The returned array includes only keywords with locale matching
          those specified string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success.
          content:
            application/vnd.sbkeyword.v3.2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SBKeyword'
                x-content-type: application/vnd.sbkeyword.v3.2+json
            application/vnd.sbkeyword.v3+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SBKeyword'
    put:
      tags:
      - Keywords
      summary: Updates one or more keywords.
      description: "Updates one or more targeting clauses. Operation supports a maximum\
        \ list size of 100 keywords. <bold>Note</bold> that negative keywords can\
        \ be updated on campaigns where campaign's serving status is not one of `archived`,\
        \ `terminated`, `rejected`, or `ended`."
      operationId: updateKeywords
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: An array of keywords. <br/>Note the bid is only mutable when
          the keyword's corresponding campaign does not have any enabled optimization
          rule.
        content:
          application/json:
            schema:
              maximum: 100
              type: array
              items:
                $ref: '#/components/schemas/sb_keywords_body'
      responses:
        "207":
          description: Multi-status. Note that the order of the returned array matches
            the order of the array passed in the request.
          content:
            application/vnd.sbkeywordresponse.v3+json:
              schema:
                $ref: '#/components/schemas/SBKeywordResponse'
    post:
      tags:
      - Keywords
      summary: Creates one or more keywords.
      description: "Note that `state` can't be set at keyword creation. <br/>Note\
        \ that keywords can be created on campaigns where serving status is not one\
        \ of `archived`, `terminated`, `rejected`, or `ended`. <br/>Note that this\
        \ operation supports a maximum list size of 100 keywords."
      operationId: createKeywords
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: An array of keywords. <br/>Note the bid is only mutable when
          the keyword's corresponding campaign does not have any enabled optimization
          rule.
        content:
          application/json:
            schema:
              maximum: 100
              type: array
              items:
                $ref: '#/components/schemas/sb_keywords_body_1'
      responses:
        "207":
          description: Multi-status. Note that the order of the returned array matches
            the order of the array passed in the request.
          content:
            application/vnd.sbkeywordresponse.v3+json:
              schema:
                $ref: '#/components/schemas/SBKeywordResponse'
  /sb/keywords/{keywordId}:
    get:
      tags:
      - Keywords
      summary: Gets a keyword specified by identifier.
      operationId: getKeyword
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: keywordId
        in: path
        description: The identifier of an existing keyword.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: locale
        in: query
        description: The returned array includes only keywords associated with locale
          matching those specified by identifier.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success.
          content:
            application/vnd.sbkeyword.v3+json:
              schema:
                $ref: '#/components/schemas/SBKeyword'
        "404":
          description: Bad request. Keyword identifier not found.
          content:
            application/vnd.error.v3+json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Keywords
      summary: Archives a keyword specified by identifier.
      description: "This operation is equivalent to an update operation that sets\
        \ the status field to 'archived'. Note that setting the status field to 'archived'\
        \ is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/v2/guides/developer_notes)\
        \ for more information."
      operationId: archiveKeyword
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: keywordId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: success
          content:
            application/vnd.sbkeywordresponse.v3+json:
              schema:
                $ref: '#/components/schemas/SBKeywordResponse'
        "404":
          description: Bad request. Keyword identifier not found.
          content:
            application/vnd.error.v3+json:
              schema:
                $ref: '#/components/schemas/Error'
  /sb/negativeKeywords:
    get:
      tags:
      - Negative keywords
      summary: "Gets an array of negative keywords, filtered by optional criteria."
      description: "**Note**: Negative keywords associated with BrandVideo ad groups\
        \ are only available in v3.2 version."
      operationId: listNegativeKeywords
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: Sets a zero-based offset into the requested set of negative keywords.
          Use in conjunction with the `count` parameter to control pagination of the
          returned array.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: count
        in: query
        description: "Sets the number of negative keywords in the returned array.\
          \ Use in conjunction with the `startIndex` parameter to control pagination.\
          \ For example, to return the first ten negative keywords set `startIndex=0`\
          \ and `count=10`. To return the next ten negative keywords, set `startIndex=10`\
          \ and `count=10`, and so on."
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: matchTypeFilter
        in: query
        description: The returned array is filtered to include only negative keywords
          with `matchType` set to one of the values in the specified comma-delimited
          list.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/NegativeMatchType'
      - name: keywordText
        in: query
        description: The returned array includes only negative keywords with the specified
          text.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: stateFilter
        in: query
        description: The returned array includes only negative keywords with `state`
          set to the specified value.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/NegativeState'
      - name: campaignIdFilter
        in: query
        description: The returned array includes only negative keywords associated
          with campaigns matching those specified by identifier in the comma-delimited
          string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: adGroupIdFilter
        in: query
        description: The returned array includes only negative keywords associated
          with ad groups matching those specified by identifier in the comma-delimited
          string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: keywordIdFilter
        in: query
        description: The returned array includes only negative keywords with identifiers
          matching those specified in the comma-delimited string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: creativeType
        in: query
        description: "Filter by the type of creative the campaign is associated with.\
          \ To get negative keywords associated with non-video campaigns specify 'productCollection'.\
          \ To get negative keywords associated with video campaigns, this must be\
          \ set to 'video'. Returns all negative keywords if not specified."
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/CreativeType'
      responses:
        "200":
          description: Success.
          content:
            application/vnd.sbnegativekeyword.v3.2+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SBNegativeKeyword'
                x-content-type: application/vnd.sbnegativekeyword.v3.2+json
            application/vnd.sbnegativekeyword.v3+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SBNegativeKeyword'
    put:
      tags:
      - Negative keywords
      summary: Updates one or more negative keywords.
      description: "Updates one or more targeting clauses. Operation supports a maximum\
        \ list size of 100 negative keywords. <bold>Note</bold> that negative keywords\
        \ can be updated on campaigns where campaign's serving status is not one of\
        \ `archived`, `terminated`, `rejected`, or `ended`."
      operationId: updateNegativeKeywords
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: An array of negative keywords.
        content:
          application/json:
            schema:
              maximum: 100
              type: array
              items:
                $ref: '#/components/schemas/sb_negativeKeywords_body'
      responses:
        "207":
          description: Multi-status. Note that the order of the returned array matches
            the order of the array passed in the request.
          content:
            application/vnd.sbkeywordresponse.v3+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SBKeywordResponse'
                x-content-type: application/vnd.sbkeywordresponse.v3+json
    post:
      tags:
      - Negative keywords
      summary: Creates one or more negative keywords.
      description: "Creates one or more negative targeting clauses. Operation supports\
        \ a maximum list size of 100 negative keywords. The `bid` and `state` can't\
        \ be set at negative keyword creation. <br/>Note that negative keywords can\
        \ be created on campaigns where campaign's serving status is not one of `archived`,\
        \ `terminated`, `rejected`, or `ended`.\n<br>**Note** that negative keywords\
        \ *can not* be recreated for a campaign if the negative keyword has previously\
        \ been associated with a campaign and subsequently archived. "
      operationId: createNegativeKeywords
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: An array of negative keywords.
        content:
          application/json:
            schema:
              maximum: 100
              type: array
              items:
                $ref: '#/components/schemas/sb_negativeKeywords_body_1'
      responses:
        "207":
          description: Multi-status. Note that the order of the returned array matches
            the order of the array passed in the request.
          content:
            application/vnd.sbkeywordresponse.v3+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SBKeywordResponse'
                x-content-type: application/vnd.sbkeywordresponse.v3+json
  /sb/negativeKeywords/{keywordId}:
    get:
      tags:
      - Negative keywords
      summary: Gets a negative keyword specified by identifier.
      operationId: getNegativeKeyword
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: keywordId
        in: path
        description: The identifier of an existing negative keyword.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Success.
          content:
            application/vnd.sbnegativekeyword.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
    delete:
      tags:
      - Negative keywords
      summary: Archives a negative keyword specified by identifier.
      description: "This operation is equivalent to an update operation that sets\
        \ the status field to 'archived'. Note that setting the status field to 'archived'\
        \ is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/v2/guides/developer_notes)\
        \ for more information."
      operationId: archiveNegativeKeyword
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: keywordId
        in: path
        description: The identifier of an existing campaign.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Success.
          content:
            application/vnd.sbkeywordresponse.v3+json:
              schema:
                $ref: '#/components/schemas/SBKeywordResponse'
        "404":
          description: Bad request. The specified negative keyword identifier was
            not found.
          content:
            application/vnd.error.v3+json:
              schema:
                $ref: '#/components/schemas/Error'
  /pageAsins:
    get:
      tags:
      - Landing page asins
      summary: Gets ASIN information for a specified address.
      description: "Note that for sellers, the addresss must be a Store page. Vendors\
        \ may also specify a custom landing page address. Only the `ASINs` that are\
        \ directly associated on creation with a Store landing page are returned by\
        \ this API. Any other `ASINs` that are not directly associated to the Store\
        \ landing page or are listed on other pages are not returned by this API.\
        \ This includes `ASINs` that are on Dynamic widgets, product selections, and\
        \ featured deals widgets."
      operationId: listAsins
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: pageUrl
        in: query
        description: "For sellers, the address of a Store page. Vendors may also specify\
          \ the address of a custom landing page. For more information, see the [Stores\
          \ section](https://advertising.amazon.com/help#GPRM3ZHEXEY5RBFZ) of the\
          \ Amazon Ads support center."
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Success.
          content:
            application/vnd.pageasins.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /media/complete:
    put:
      tags:
      - Media
      summary: The API is used to notify that the upload is completed.
      description: |-
        The API should be called once the media is uploaded to the location provided by the /media/upload API endpoint. The API creates a Media resource for the uploaded media. Media resource is comprised of Media Identifier. The Media Identifier can be used to attach media to Ad Program (Sponsored Brands).

        The API internally kicks off the asynchronous validation and processing workflow of the uploaded media. As a result, Media may not be immediately available for usage (to create Sponsored Brands Video Campaign) as soon as the response is received. See /media/describe API doc for instructions on when media is ready for campaign creation.
      operationId: completeUpload
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: The  upload location
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/media_complete_body'
        required: true
      responses:
        "200":
          description: Media Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaPublisherAPIError'
        "404":
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaPublisherAPIError'
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaPublisherAPIError'
  /media/describe:
    get:
      tags:
      - Media
      summary: API to poll for media status
      description: |-
        API to poll for media status.
        In order to attach media to campaign, media should be in either `PendingDeepValidation` or `Available` status.

        `Available` status guarantees that media has completed processing and published for usage.

        Though media can be attached to campaign once the status of the media transitions to `PendingDeepValidation`, media could still fail additional validation and transition to `Failed` status. For example in the context of SBV, SBV campaign can be created when status transitions to `PendingDeepValidation`, it could result in SBV campaign to be rejected later if media transitions to `Failed` status.
      operationId: describeMedia
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: mediaId
        in: query
        description: Media Identifier
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Media Resource
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
        "404":
          description: Resource not found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MediaPublisherAPIError'
        "500":
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MediaPublisherAPIError'
  /stores/assets:
    get:
      tags:
      - Stores
      summary: Gets a list of assets associated with a specified brand entity identifier.
      description: "For sellers or vendors, gets an array of assets associated with\
        \ the specified brand entity identifier. Vendors are not required to specify\
        \ a brand entity identifier, and in this case all assets associated with the\
        \ vendor are returned."
      operationId: listAssets
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: brandEntityId
        in: query
        description: "For sellers, this field is required. It is the Brand entity\
          \ identifier of the Brand for which assets are returned. This identifier\
          \ is retrieved using the [getBrands operation](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/brands).\
          \ For vendors, this field is optional. If a vendor does not specify this\
          \ field, all assets associated with the vendor are returned. For more information\
          \ about the [difference between a seller and a vendor](https://advertising.amazon.com/resources/faq#advertising-basics),\
          \ see the Amazon Ads FAQ."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: mediaType
        in: query
        description: "Specifies the media types used to filter the returned array.\
          \ Currently, only the `brandLogo` type is supported. If not specified, all\
          \ media types are returned."
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/MediaType'
      responses:
        "200":
          description: Success.
          content:
            application/vnd.mediaasset.v3+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200_5'
                x-content-type: application/vnd.mediaasset.v3+json
    post:
      tags:
      - Stores
      summary: Creates a new image asset.
      description: Image assets are stored in the Store Assets Library. Note that
        there may be a delay before the image is displayed in the console.
      operationId: createAsset
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Disposition
        in: header
        description: The name of the image file.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Content-Type
        in: header
        description: |-
          The image format type. The following table lists the valid image types:
          |Image Type|Description|
          |----------|-----------|
          |PNG|[Portable network graphics](https://en.wikipedia.org/wiki/Portable_Network_Graphics)|
          |JPEG|[JPEG](https://en.wikipedia.org/wiki/JPEG)|
          |GIF|[Graphics interchange format](https://en.wikipedia.org/wiki/GIF)|
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/stores_assets_body'
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
  /sb/recommendations/bids:
    post:
      tags:
      - Bid recommendations
      description: Get a list of bid recommendation objects for a specified list of
        keywords or products.
      operationId: getBidsRecommendations
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "A list of keywords or targeting expressions for which to generate\
          \ bid recommendations. Note that if a value is specified for the `campaignId`\
          \ field, the past performance data for the campaign may be use to create\
          \ bid recommendations."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recommendations_bids_body'
      responses:
        "200":
          description: A list of bid recommendations.
          content:
            application/vnd.sbbidsrecommendation.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
  /sb/campaigns/budgetRules/recommendations:
    post:
      tags:
      - Budget Rules Recommendations
      summary: Gets a list of special events with suggested date range and suggested
        budget increase for a campaign specified by identifier.
      description: |-
        A rule enables an automatic budget increase for a specified date range or for a special event. The response also includes a suggested budget increase for each special event.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit","advertiser_campaign_view"]
      operationId: SBGetBudgetRulesRecommendation
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an account. The account must be a global advertising
          account..
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/vnd.sbbudgetrulesrecommendation.v3+json:
            schema:
              $ref: '#/components/schemas/budgetRules_recommendations_body'
      responses:
        "200":
          description: Successful Operation.
          content:
            application/vnd.sbbudgetrulesrecommendation.v3+json:
              schema:
                $ref: '#/components/schemas/SBBudgetRulesRecommendationEventResponse'
        "400":
          description: Bad Request.
          content:
            application/vnd.sbbudgetrulesrecommendation.v3+json:
              schema:
                $ref: '#/components/schemas/SBBudgetRulesRecommendationError'
        "429":
          description: Too Many Requests. Request was rate-limited. Retry later.
          content:
            application/vnd.sbbudgetrulesrecommendation.v3+json:
              schema:
                $ref: '#/components/schemas/SBBudgetRulesRecommendationError'
        "500":
          description: Internal Server Error. Something went wrong on the server.
          content:
            application/vnd.sbbudgetrulesrecommendation.v3+json:
              schema:
                $ref: '#/components/schemas/SBBudgetRulesRecommendationError'
  /sb/recommendations/keyword:
    post:
      tags:
      - Keyword Recommendations
      summary: Gets keyword recommendations
      description: |-
        Gets an array of keyword recommendation objects for a set of ASINs included either on a landing page or a Stores page. Vendors may also specify a custom landing page.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit","advertiser_campaign_view"]
      operationId: getKeywordRecommendations
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "**Must contain exactly only one of** \n\n 1.) An array of ASINs\
          \ for which keyword recommendations are generated. \n\n 2.) The URL of a\
          \ Stores page. Vendors may also specify the URL of a custom landing page.\
          \ The products on the landing page are used to generate keyword recommendations.\
          \ \n\n Optional parameters include the max number of suggestions and locale\
          \ for keyword translations. Supported locales include: Simplified Chinese\
          \ (locale: â€œzh_CNâ€? for US, UK and CA. English (locale:  â€œen_GBâ€? for DE,\
          \ FR, IT and ES. If locale is invalid or unsupported, no translations will\
          \ be returned."
        content:
          application/vnd.sbkeywordrecommendation.v3+json:
            schema:
              $ref: '#/components/schemas/recommendations_keyword_body'
            examples:
              URL Request:
                value:
                  goal: BRAND_IMPRESSION_SHARE
                  creativeType: VIDEO
                  maxNumSuggestions: "100"
                  locale: zh_CN
                  url: www.amazon.com/sample_landing_page
              ASIN Request:
                value:
                  asins:
                  - asin1
                  - asin2
                  - asin3
                  goal: PAGE_VISIT
                  creativeType: PRODUCT_COLLECTION
                  maxNumSuggestions: "100"
                  locale: zh_CN
      responses:
        "200":
          description: Successful recommendations response
          content:
            application/vnd.sbkeywordrecommendation.v3+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SBKeywordSuggestion'
                x-content-type: application/vnd.sbkeywordrecommendation.v3+json
              example:
              - searchTermImpressionShare: 1
                matchType: PHRASE
                translation: è·‘éž‹
                searchTermImpressionRank: 10
                recommendationId: "1111111111"
                type: addKeyword
                value: running shoes
        "400":
          description: Bad Request.
          content:
            application/vnd.sbkeywordrecommendation.v3+json:
              schema:
                $ref: '#/components/schemas/SBKeywordRecommendationError'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later
          content:
            application/vnd.sbkeywordrecommendation.v3+json:
              schema:
                $ref: '#/components/schemas/SBKeywordRecommendationError'
        "500":
          description: Internal Server SB Keyword Recommendations Error - Something
            went wrong on the server. Retry later and report an SB Keyword Recommendations
            Error if unresolved.
          content:
            application/vnd.sbkeywordrecommendation.v3+json:
              schema:
                $ref: '#/components/schemas/SBKeywordRecommendationError'
  /sb/targets/list:
    post:
      tags:
      - Product targeting
      description: |-
        Gets a list of product targets associated with the client identifier passed in the authorization header, filtered by specified criteria.

        **Note**: Product targets associated with BrandVideo ad groups are only available in v3.2 version.
      operationId: listTargets
      requestBody:
        description: A set of filters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/targets_list_body'
      responses:
        "200":
          description: A list of targeting clauses.
          content:
            application/vnd.sblisttargetsresponse.v3.2+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
            application/vnd.sblisttargetsresponse.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
  /sb/targets:
    put:
      tags:
      - Product targeting
      summary: Updates one or more targets.
      operationId: updateTargets
      requestBody:
        description: "A list of targets with updated values. <br/>Note that targets\
          \ can be updated on campaigns where serving status is not one of `archived`,\
          \ `terminated`, `rejected`, or `ended`. <br/>Note that this operation supports\
          \ a maximum list size of 100 targets. <br/>Note the bid is only mutable\
          \ when the keyword's corresponding campaign does not have any enabled optimization\
          \ rule."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sb_targets_body'
      responses:
        "200":
          description: A list of success and error results for targets submitted for
            update.
          content:
            application/vnd.updatetargetsresponse.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Product targeting
      summary: Create one or more targets.
      operationId: createTargets
      requestBody:
        description: "A list of targeting clauses for creation. <br/>Note that targets\
          \ can be created on campaigns where serving status is not one of `archived`,\
          \ `terminated`, `rejected`, or `ended`. <br/>Note that this operation supports\
          \ a maximum list size of 100 targets. <br/>Note the bid is only mutable\
          \ when the keyword's corresponding campaign does not have any enabled optimization\
          \ rule."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sb_targets_body_1'
      responses:
        "200":
          description: A list of success and error results for targeting clauses submitted
            for creation.
          content:
            application/vnd.sbcreatetargetsresponse.v3+json:
              schema:
                $ref: '#/components/schemas/SBCreateTargetsResponse'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
  /sb/targets/{targetId}:
    get:
      tags:
      - Product targeting
      summary: Gets a target specified by identifier.
      operationId: getTarget
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: targetId
        in: path
        description: The identifier of an existing target.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/SBTargetId'
      responses:
        "200":
          description: success
          content:
            application/vnd.sbtarget.v3+json:
              schema:
                $ref: '#/components/schemas/SBTargetingClause'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: The requested resource was not found.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Product targeting
      summary: "Archives a target specified by identifier. Note that archiving is\
        \ permanent, and once a target has been archived it can't be made active again."
      description: The identifier of an existing target.
      operationId: archiveTarget
      parameters:
      - name: targetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/SBTargetId'
      responses:
        "200":
          description: success
          content:
            application/vnd.sbtargetresponse.v3+json:
              schema:
                $ref: '#/components/schemas/SBTargetingClauseResponse'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: The requested resource was not found.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
  /sb/negativeTargets/list:
    post:
      tags:
      - Negative product targeting
      summary: "Gets a list of product negative targets associated with the client\
        \ identifier passed in the authorization header, filtered by specified criteria."
      description: "**Note**: Negative targets associated with BrandVideo ad groups\
        \ are only available in v3.2 version."
      operationId: listNegativeTargets
      requestBody:
        description: A set of filters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/negativeTargets_list_body'
      responses:
        "200":
          description: A list of negative targets.
          content:
            application/vnd.sblistnegativetargetsresponse.v3.2+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
            application/vnd.sblistnegativetargetsresponse.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
  /sb/negativeTargets:
    put:
      tags:
      - Negative product targeting
      summary: Updates one or more negative targets.
      operationId: updateNegativeTargets
      requestBody:
        description: "A list of negative targets with updated values. <br/>Note that\
          \ negative targeting clauses can be created on campaigns where serving status\
          \ is not one of `archived`, `terminated`, `rejected`, or `ended`. <br/>Note\
          \ that this operation supports a maximum list size of 100 negative targets."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sb_negativeTargets_body'
      responses:
        "200":
          description: A list of success and error results for negative targets submitted
            for update.
          content:
            application/vnd.updatenegativetargetsresponse.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Negative product targeting
      summary: Create one or more negative targets.
      operationId: createNegativeTargets
      requestBody:
        description: "A list of negative targeting clauses for creation. <br/>Note\
          \ that negative targeting clauses can be created on campaigns where serving\
          \ status is not one of `archived`, `terminated`, `rejected`, or `ended`.\
          \ <br/>Note that this operation supports a maximum list size of 100 negative\
          \ targets."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sb_negativeTargets_body_1'
      responses:
        "200":
          description: A list of success and error results for targeting clauses submitted
            for creation.
          content:
            application/vnd.sbcreatenegativetargetsrequest.v3+json:
              schema:
                $ref: '#/components/schemas/SBCreateTargetsResponse'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
  /sb/negativeTargets/{negativeTargetId}:
    get:
      tags:
      - Negative product targeting
      summary: Gets a negative target specified by identifier.
      operationId: getNegativeTarget
      parameters:
      - name: negativeTargetId
        in: path
        description: The identifier of an existing negative target.
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/SBNegativeTargetId'
      responses:
        "200":
          description: success
          content:
            application/vnd.sbnegativetarget.v3+json:
              schema:
                $ref: '#/components/schemas/SBNegativeTargetingClause'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: The requested resource was not found.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Negative product targeting
      summary: "Archives a negative target specified by identifier. Note that archiving\
        \ is permanent, and once a negative target has been archived it can't be made\
        \ active again."
      operationId: archiveNegativeTarget
      parameters:
      - name: negativeTargetId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          $ref: '#/components/schemas/SBNegativeTargetId'
      responses:
        "200":
          description: success
          content:
            application/vnd.sbnegativetarget.v3+json:
              schema:
                $ref: '#/components/schemas/SBTargetingClauseResponse'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: The requested resource was not found.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
  /sb/themes/list:
    post:
      tags:
      - Theme targeting
      description: "Note that this endpoint does not support for **Author profiles**.\
        \ Gets a list of theme targets associated with the client identifier passed\
        \ in the authorization header, filtered by specified criteria."
      operationId: sbListThemes
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: A set of filters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/themes_list_body'
      responses:
        "200":
          description: A list of targeting clauses.
          content:
            application/vnd.sbthemeslistresponse.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
  /sb/themes:
    put:
      tags:
      - Theme targeting
      summary: Updates one or more theme targets.
      description: Note that this endpoint does not support for **Author profiles**.
      operationId: sbUpdateThemes
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "A list of theme targets with updated values. <br/>Note that\
          \ theme targets can be updated on multi-adGroups campaigns and where campaign\
          \ serving status is not one of `archived`, `terminated`, `rejected`, or\
          \ `ended` and adgroup state is not 'archived'. <br/>Note that this operation\
          \ supports a maximum list size of 100 theme targets. Also theme target can\
          \ not be archived. <br/>Note the bid is only mutable when the keyword's\
          \ corresponding campaign does not have any enabled optimization rule."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sb_themes_body'
      responses:
        "200":
          description: A list of success and error results for theme targets submitted
            for update.
          content:
            application/vnd.sbthemesupdateresponse.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Theme targeting
      summary: Create one or more theme targets.
      description: Note that this endpoint does not support for **Author profiles**.
      operationId: sbCreateThemes
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "A list of theme targets for creation. <br/>Note that theme targets\
          \ can be created on multi-adGroups campaigns and where campaign serving\
          \ status is not one of `archived`, `terminated`, `rejected`, or `ended`\
          \ and adgroup state is not 'archived'. <br/>Note that this operation supports\
          \ a maximum list size of 100 theme targets and only one target can be created\
          \ for each themeType per adGroup. <br/>Note the bid is only mutable when\
          \ the keyword's corresponding campaign does not have any enabled optimization\
          \ rule."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sb_themes_body_1'
      responses:
        "200":
          description: A list of success and error results for theme targets submitted
            for creation.
          content:
            application/vnd.sbthemescreateresponse.v3+json:
              schema:
                $ref: '#/components/schemas/SBCreateThemesResponse'
        "400":
          description: Bad request.
          content:
            application/vnd.sberror.v3.0+json:
              schema:
                $ref: '#/components/schemas/Error'
  /sb/recommendations/targets/product/list:
    post:
      tags:
      - Targeting recommendations
      summary: Gets a list of recommended products for targeting.
      description: Recommendations are based on the ASINs that are passed in the request.
      operationId: getProductRecommendations
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: A list of ASINs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/product_list_body'
      responses:
        "200":
          description: A list of product targeting recommendations.
          content:
            application/vnd.sbproductrecommendationsresponse.v3.1+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
  /sb/recommendations/targets/category:
    post:
      tags:
      - Targeting recommendations
      summary: Gets a list of recommended categories for targeting.
      description: Recommendations are based on the ASINs that are passed in the request.
      operationId: getTargetingCategories
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: locale
        in: query
        description: Return the categories in the specified locale.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ar_AE
          - de_DE
          - en_AE
          - en_AU
          - en_CA
          - en_GB
          - en_IN
          - en_SG
          - en_US
          - es_ES
          - es_MX
          - fr_CA
          - fr_FR
          - hi_IN
          - it_IT
          - ja_JP
          - ko_KR
          - nl_NL
          - pl_PL
          - pt_BR
          - sv_SE
          - ta_IN
          - th_TH
          - tr_TR
          - vi_VN
          - zh_CN
      requestBody:
        description: List of ASINs.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/targets_category_body'
      responses:
        "200":
          description: A list of category targeting recommendations.
          content:
            application/vnd.sbcategoryrecommendationsresponse.v3.2+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
  /sb/recommendations/targets/brand:
    post:
      tags:
      - Targeting recommendations
      summary: Gets a list of brand suggestions.
      description: The Brand suggestions are based on a list of either category identifiers
        or keywords passed in the request. It is not valid to specify both category
        identifiers and keywords in the request.
      operationId: getBrandRecommendations
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/targets_brand_body'
      responses:
        "200":
          description: success
          content:
            application/vnd.sbbrandrecommendationsresponse.v3.1+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
  /sb/moderation/campaigns/{campaignId}:
    get:
      tags:
      - Moderation
      summary: Gets the moderation result for a campaign specified by identifier.
      description: Note that this resource is only available for campaigns in the
        US marketplace.
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: campaignId
        in: path
        description: The campaign identifier.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: success
          content:
            application/vnd.sbmoderation.v3+json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
        "404":
          description: Requested campaignId not found
          content:
            application/vnd.error.v3+json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/hsa/{recordType}/report:
    post:
      tags:
      - Reports
      summary: Requests the creation of a report containing performance data related
        to Sponsored Brands campaigns.
      description: "Use this interface to request and retrieve performance reports.\
        \ **To understand the call flow for asynchronous reports, see [Getting started\
        \ with sponsored ads reports](/API/docs/en-us/guides/reporting/v2/sponsored-ads-reports).**\n\
        \n**KDP support**\n\nNote that KDP profiles cannot currently request reports\
        \ for Sponsored Brands campaigns using the API. Authors should use the advertising\
        \ console to download reporting data. \n\n**Filtering**\n\nFor more information,\
        \ see the [Reporting FAQ](/API/docs/en-us/guides/reporting/v2/faq#can-i-filter-a-sponsored-brands-report).\n\
        \n**Constraints of Sponsored Brands reporting**\n\nSponsored Brands reporting\
        \ data cannot be combined with Sponsored Products data into one report. Only\
        \ 14-day data is available for Sponsored Brands. Attribution windows of 1,\
        \ 7, and 30-day intervals are not available.\n\n**New-to-brand performance\
        \ metrics**\n\nWith new-to-brand metrics, advertisers can measure and optimize\
        \ campaigns, as well as plan future marketing strategies to grow their customer\
        \ base on Amazon. New-to-brand metrics determine whether an ad-attributed\
        \ purchase was made by an existing customer or one buying a brandâ€™s product\
        \ on Amazon for the first time over the prior year. With new-to-brand metrics,\
        \ advertisers receive campaign performance metrics such as total new-to-brand\
        \ purchases and sales, new-to-brand purchase rate, and cost per new-to-brand\
        \ customer. Advertisers now have the tools they need to estimate the cost\
        \ of acquiring new customers on Amazon and identify the most efficient channels\
        \ and tactics to achieve their campaign goals."
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recordType
        in: path
        description: "The type of report. Valid types are `campaigns`, `adGroups`,\
          \ `ads`, `targets`, and `keywords`."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recordType_report_body'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
        "406":
          description: Failed due to report date being too far in the past. Reports
            are not available for data older than 60 days.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Report formed incorrectly. Report requests return a 422 status\
            \ code if the parameters specified are unrecognized or if the combination\
            \ of parameters is not supported. In particular, the choice of `recordType`\
            \ may restrict the use of certain segments. Query segmentation can only\
            \ be used in combination with keyword and product ad reports."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/reports/{reportId}:
    get:
      tags:
      - Reports
      summary: Returns the status of a previously requested report.
      description: "To understand the call flow for asynchronous reports, see [Getting\
        \ started with sponsored ads reports](/API/docs/en-us/guides/reporting/v2/sponsored-ads-reports)."
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: reportId
        in: path
        description: Report ID returned by POST report method.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
        "404":
          description: Report not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/reports/{reportId}/download:
    get:
      tags:
      - Reports
      summary: Downloads a previously requested report identified by `reportId`.
      description: "Gets a `307 Temporary Redirect` response that includes a `location`\
        \ header with the value set to an AWS S3 path where the report is located.\
        \ The path expires after 30 seconds. If the path expires before the report\
        \ is downloaded, a new report request must be created. \n\n**To understand\
        \ the call flow for asynchronous reports, see [Getting started with sponsored\
        \ ads reports](/API/docs/en-us/guides/reporting/v2/sponsored-ads-reports).**\n\
        \nThe report file contains one row per entity for which performance data is\
        \ present. These records are represented as JSON containing the ID attribute\
        \ corresponding to the `recordType`, the segment (if specified), and each\
        \ of the metrics in the request.\n\n**Note**: The report files in S3 are gzipped.\n\
        \n*Example report download*\n\n`$ curl -o /tmp/report.json.gz \"https://sandboxreports.s3.amazonaws.com/amzn1.clicksAPI.v1.m1.580149D6.c7aa92c1-ca5b-435d-bb8b-51cb26ad5731?AWSAccessKeyId=EXAMPLE_ACCESS_KEY_ID&amp;Expires=1476479900&amp;Signature=I%2F2Gd%2B8TbcPbXbBUM6ix%2BSVP3qA%3D\"\
        `"
      operationId: downloadReport
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a **Login with Amazon**
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: reportId
        in: path
        description: The identifier of the requested report.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "307":
          description: Successful operation.
          headers:
            Location:
              description: Redirect URI with S3 file location containing report data
              style: simple
              explode: false
              schema:
                type: string
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not found - requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too many requests - request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal server error - something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    BrandType:
      type: string
      description: |-
        | brandType | description |
        |-----------|-------------|
        | brandRegistry | The brand is in the brand registry. |
        | bookAuthor    | The brand is a book author. |
      enum:
      - brandRegistry
      - bookAuthor
    BudgetType:
      type: string
      description: "Note that for the lifetime budget type, `startDate` and `endDate`\
        \ must be specified. The lifetime budget range is from 100 to 20,000,000 and\
        \ daily budget range is 1 to 1,000,000 by default for most marketplaces. For\
        \ the JP marketplace, the lifetime budget range is from 10,000 to 2,000,000,000,\
        \ and the daily budget range is 100 to 21,000,000."
      enum:
      - lifetime
      - daily
    CampaignTags:
      type: object
      additionalProperties:
        type: string
      description: A list of advertiser-specified custom identifiers for the campaign.
        Each customer identifier is a key-value pair. You can specify a maximum of
        50 identifiers.
      example:
        PONumber: examplePONumber
        accountManager: exampleAccountManager
      x-schema-name: CampaignTags
    MediaType:
      type: string
      description: The supported media types.
      enum:
      - brandLogo
      - image
    SBUpdateCampaignResponse:
      properties:
        campaignId:
          type: integer
          description: The campaign identifier.
          format: int64
        code:
          type: string
          description: An enumerated response code.
        details:
          type: string
          description: A human-readable description of the enumerated response code
            in the `code` field.
      description: |-
        Applies to:
        | Operation | Path |
        |-----------| -----|
        |[updateCampaigns](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Campaigns)| PUT /sb/campaigns|
        |[archiveCampaigns](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Campaigns)|DELETE /sb/campaigns/{campaignId}|
        <br/>
    SBKeywordResponse:
      properties:
        keywordId:
          type: integer
          description: The keyword identifier.
          format: int64
        code:
          type: string
          description: An enumerated response code.
        description:
          type: string
          description: A human-readable description of the enumerated response code
            in the `code` field.
        errors:
          type: array
          description: An array of error objects.
          items:
            $ref: '#/components/schemas/KeywordError'
      description: |-
        Applies to:
        | Operation | Path |
        |-----------| -----|
        |[createKeywords](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Keywords)| POST /sb/keywords|
        |[createNegativeKeywords](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Negative_Keywords)|POST /sb/negativeKeywords|
        |[updateNegativeKeywords](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Negative_Keywords)|PUT /sb/negativeKeywords|
        |[archiveNegativeKeyword](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Negative_Keywords)|DELETE /sb/negativeKeywords/{keywordId}|
        <br/>
      example:
        keywordId: 0
        code: code
        description: description
        errors:
        - KeywordError: ""
        - KeywordError: ""
    SBExpressionResponse:
      properties:
        targetId:
          type: integer
          description: The targeting expression identifier.
          format: int64
        code:
          type: string
          description: An enumerated response code.
    SBKeyword:
      properties:
        keywordId:
          type: integer
          description: The keyword identifier.
          format: int64
        adGroupId:
          type: integer
          description: The identifier of the ad group associated with the keyword.
          format: int64
        campaignId:
          type: integer
          description: The identifier of the campaign associated with the keyword.
          format: int64
        keywordText:
          type: string
          description: The keyword text. The maximum number of words for this string
            is 10.
        nativeLanguageKeyword:
          type: string
          description: The unlocalized keyword text in the preferred locale of the
            advertiser.
        matchType:
          $ref: '#/components/schemas/MatchType'
        state:
          $ref: '#/components/schemas/SBKeywordState'
        bid:
          type: number
          description: "The bid associated with the keyword. Note that this value\
            \ must be less than the budget associated with the Advertiser account.\
            \ For more information, see the **Keyword bid constraints by marketplace**\
            \ section of the [supported features](https://advertising.amazon.com/API/docs/v2/guides/supported_features)\
            \ article."
      description: |-
        Applies to:
        | Operation | Path |
        |-----------| -----|
        |[listKeywords](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Keywords)| GET /sb/keywords|
        |[getKeyword](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Keywords)| GET /sb/keywords/{keywordId}|
        <br/>
      example:
        keywordId: 0
        nativeLanguageKeyword: nativeLanguageKeyword
        campaignId: 1
        matchType: broad
        state: enabled
        bid: 5.962133916683182
        adGroupId: 6
        keywordText: keywordText
    SBDraftKeyword:
      properties:
        keywordId:
          type: integer
          description: The keyword identifier.
          format: int64
        adGroupId:
          type: integer
          description: The identifier of the ad group associated with the keyword.
          format: int64
        campaignId:
          type: integer
          description: The identifier of the campaign associated with the keyword.
          format: int64
        keywordText:
          type: string
          description: The keyword text. The maximum number of words for this string
            is 10.
        matchType:
          $ref: '#/components/schemas/MatchType'
        state:
          type: string
          description: "| state | description |\n|-------|-------------|\n| draft\
            \ | Newly created keyword. |\n| enabled | Keyword passed moderation. | "
          enum:
          - draft
          - enabled
        bid:
          type: number
          description: "The bid associated with the keyword. Note that this value\
            \ must be less than the budget associated with the Advertiser account.\
            \ For more information, see the **Keyword bid constraints by marketplace**\
            \ section of the [supported features](https://advertising.amazon.com/API/docs/v2/guides/supported_features)\
            \ article."
    SBNegativeKeyword:
      properties:
        keywordId:
          type: integer
          description: The keyword identifier.
          format: int64
        adGroupId:
          type: integer
          description: The identifier of the ad group associated with the keyword.
          format: int64
        campaignId:
          type: integer
          description: The identifier of the campaign associated with the keyword.
          format: int64
        keywordText:
          type: string
          description: The keyword text. The maximum number of words for this string
            is 10.
        matchType:
          $ref: '#/components/schemas/NegativeMatchType'
        state:
          $ref: '#/components/schemas/SBKeywordState'
      example:
        keywordId: 0
        campaignId: 1
        matchType: negativeExact
        state: enabled
        adGroupId: 6
        keywordText: keywordText
    SBDraftNegativeKeyword:
      properties:
        keywordId:
          type: integer
          description: The keyword identifier.
          format: int64
        adGroupId:
          type: integer
          description: The identifier of the ad group associated with the keyword.
          format: int64
        campaignId:
          type: integer
          description: The identifier of the campaign associated with the keyword.
          format: int64
        keywordText:
          type: string
          description: The keyword text. The maximum number of words for this string
            is 10.
        matchType:
          $ref: '#/components/schemas/NegativeMatchType'
        state:
          type: string
          enum:
          - draft
    MatchType:
      type: string
      description: "The match type. For more information, see [match types](https://advertising.amazon.com/help#GHTRFDZRJPW6764R)\
        \ in the Amazon Ads support center."
      enum:
      - broad
      - exact
      - phrase
    NegativeMatchType:
      type: string
      description: "The negative match type. For more information, see [negative keyword\
        \ match types](https://advertising.amazon.com/help#GHTRFDZRJPW6764R) in the\
        \ Amazon Ads support center."
      enum:
      - negativeExact
      - negativePhrase
    State:
      type: string
      enum:
      - enabled
      - paused
      - archived
    NegativeState:
      type: string
      enum:
      - enabled
      - archived
    AdFormat:
      type: string
      description: The type of ad format.
      enum:
      - productCollection
      - video
    Goal:
      type: string
      description: |-
        The goal type of the campaign.
        If no goal is selected then it will default to `PAGE_VISIT`.
        | goal | description |
        |-----------|-------------|
        | BRAND_IMPRESSION_SHARE | Brand Impression Share (BIS) is Top of search (ToS) impression shares for branded search terms. |
        | PAGE_VISIT | Facilitate consumers' awareness of your brand |
        | ACQUIRE_NEW_CUSTOMERS | This property is a PREVIEW ONLY and cannot be used as part of a request or response, this note will be removed once supported. This goal drives new customer acquisition for your brands. |
        | AD_VIEWS | This property is a PREVIEW ONLY and cannot be used as part of a request or response, this note will be removed once supported. This goal maximizes view for your ads. |
    AdFormatV3_2:
      type: string
      description: The type of ad format.
      enum:
      - productCollection
      - storeSpotlight
      - video
    CreativeType:
      type: string
      description: collection is deprecated in favor of productCollection.
      enum:
      - productCollection
      - video
    ThemeType:
      type: string
      description: |-
        The theme target type.
        - KEYWORDS_RELATED_TO_YOUR_BRAND - keywords related to brands.
        - KEYWORDS_RELATED_TO_YOUR_LANDING_PAGES - keywords related to your landing pages.
        - Note: Additional theme types may be added in the future.
    SBKeywordState:
      type: string
      enum:
      - enabled
      - paused
      - archived
      - draft
    SBNegativeKeywordState:
      type: string
      description: The current state of the negative keyword.
      enum:
      - enabled
      - archived
      - draft
    SBAdGroup:
      properties:
        campaignId:
          type: integer
          description: The identifier of the campaign associated with the ad group.
          format: int64
          readOnly: true
        adGroupId:
          type: integer
          description: The identifier of the ad group.
          format: int64
          readOnly: true
        name:
          type: string
          description: The name of the ad group.
          readOnly: true
      description: |-
        Applies to:
        | Operation | Path |
        |-----------| -----|
        |[listAdGroups](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Ad_Groups)| GET /sb/adGroups|
        |[getAdGroup](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Ad_Groups)| GET /sb/adGroups/{adGroupId}|
        <br/>
    SBCreative:
      properties:
        brandName:
          type: string
          description: A brand name. Maximum length is 30 characters.
        brandLogoAssetID:
          type: string
          description: "The identifier of the brand logo image from the Store assets\
            \ library. See [listAssets](https://advertising.amazon.com/API/docs/v3/reference/SponsoredBrands/Stores)\
            \ for more information. Note that for campaigns created in the Amazon\
            \ Ads console prior to release of the Store assets library, responses\
            \ will not include a value for the brandLogoAssetID field."
        brandLogoUrl:
          type: string
          description: The address of the hosted image.
          readOnly: true
        headline:
          type: string
          description: "The headline text. Maximum length of the string is 50 characters\
            \ for all marketplaces other than Japan, which has a maximum length of\
            \ 35 characters."
        asins:
          maximum: 3
          minimum: 0
          type: array
          description: "An array of ASINs associated with the creative. **Note** do\
            \ not pass an empty array, this results in an error."
          items:
            type: string
        shouldOptimizeAsins:
          type: boolean
          description: "**NOTE** Starting on March 25th, 2021, this property will\
            \ no longer be supported. This feature is currently available in the US\
            \ and UK. Existing Sponsored Brands campaigns with product optimization\
            \ enabled will no longer have the products in the creative automatically\
            \ optimized. Campaigns with product optimization enabled will be converted\
            \ to standard Sponsored Brands product collection campaigns with the default\
            \ selected products showing in the creative. For POST and PUT operations,\
            \ setting this property to `true` will not have any effect. The value\
            \ returned in the response will always be `false`. For the GET operation,\
            \ the value of this field will always be `false`. And starting on September\
            \ 25th, 2021, this property will be removed completely. "
          default: false
      description: Note that the values of each field in this object are immutable
        for an existing campaign.
    SBVideoCreative:
      description: Render one product image with associated media.
      allOf:
      - type: object
        properties:
          asins:
            maxItems: 1
            minItems: 1
            type: array
            description: An array of ASINs associated with the creative.
            items:
              type: string
          videoMediaIds:
            maximum: 1
            minimum: 1
            type: array
            description: Video Asset IDs associated with the creative.
            items:
              type: string
          type:
            type: string
            description: Type of creative
            enum:
            - video
    SBLandingPage:
      properties:
        asins:
          maximum: 100
          minimum: 3
          type: array
          description: "An array of ASINs used to generate a simple landing page.\
            \ The response includes the URL of the generated simple landing page.\
            \ Do not include this property in the request if the `url` property is\
            \ also included, these properties are mutually exclusive."
          writeOnly: true
          items:
            type: string
        url:
          type: string
          description: "URL of an existing simple landing page or Store page. Vendors\
            \ may also specify the URL of a custom landing page. If a custom URL is\
            \ specified, the landing page must include the ASINs of at least three\
            \ products that are advertised as part of the campaign. Do not include\
            \ this property in the request if the `asins` property is also included,\
            \ these properties are mutually exclusive."
      description: "Specifies either an array of ASINs for a simple landing page or\
        \ the URL of a Store page. Vendors may also specify the URL of a custom landing\
        \ page. Shoppers are sent to the specified simple landing page, custom landing\
        \ page, or Store page when the ad is clicked. Note that this property can\
        \ be updated when the campaign is in a draft state, but can't be updated while\
        \ the campaign is in moderation or once it's been approved. If the campaign\
        \ is rejected for any reason, it returns to a draft state."
    SBCampaign:
      properties:
        campaignId:
          type: integer
          description: The campaign identifier.
          readOnly: true
        name:
          type: string
          description: The name of the campaign. This name must be unique to the Amazon
            Ads account to which the campaign is associated. Maximum length of the
            string is 128 characters.
        tags:
          $ref: '#/components/schemas/CampaignTags'
[...]
