openapi: 3.0.2
info:
  title: Amazon Ads API for Sponsored Display
  description: |-
    This API enables programmatic access for campaign creation, management, and reporting for Sponsored Display campaigns. For more information on the functionality, see the [Sponsored Display Support Center](https://advertising.amazon.com/help#GTPPHE6RAWC2C4LZ). For API onboarding information, see the [account setup](https://advertising.amazon.com/API/docs/en-us/guides/onboarding/overview) topic.<br/><br/>
    > This specification is available for download from the **[Advertising API developer portal](https://d3a0d0y2hgofx6.cloudfront.net/openapi/en-us/sponsored-display/3-0/openapi.yaml).**
  contact:
    name: Amazon Ads API Support
    url: https://amzn-clicks.atlassian.net/servicedesk/customer/portals
  license:
    name: Amazon Ads API License Agreement
    url: https://advertising.amazon.com/API/docs/license-agreement
  version: "3.0"
servers:
- url: https://advertising-api.amazon.com
  description: "Production endpoint for North America, which includes US and CA Amazon\
    \ marketplaces."
- url: https://advertising-api-eu.amazon.com
  description: "Production endpoint for Europe, which includes UK, FR, IT, ES, DE,\
    \ plus IN Amazon marketplaces."
- url: https://advertising-api-fe.amazon.com
  description: "Production endpoint for Far East, which includes JP Amazon marketplaces."
security:
- oauth2AuthorizationCode:
  - cpc_advertising:campaign_management
- bearerAuth: []
tags:
- name: Campaigns
- name: Ad Groups
- name: Product Ads
- name: Targeting
- name: Targeting Recommendations
- name: Bid Recommendations
- name: Headline Recommendations
- name: Budget Recommendations
- name: Negative Targeting
- name: Creatives
- name: Brand Safety List
- name: Reports
- name: Snapshots
- name: Forecasts
- name: Optimization Rules (beta)
- name: Budget Rules
- name: Budget Usage
- name: Locations (beta)
paths:
  /sd/campaigns:
    get:
      tags:
      - Campaigns
      summary: Gets a list of campaigns.
      description: "Gets an array of Campaign objects for a requested set of Sponsored\
        \ Display campaigns. Note that the Campaign object is designed for performance,\
        \ and includes a small set of commonly used fields to reduce size. If the\
        \ extended set of fields is required, use the campaign operations that return\
        \ the CampaignResponseEx object."
      operationId: listCampaigns
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: "Optional. Sets a cursor into the requested set of campaigns.\
          \ Use in conjunction with the `count` parameter to control pagination of\
          \ the returned array. 0-indexed record offset for the result set, defaults\
          \ to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
          default: 0
      - name: count
        in: query
        description: "Optional. Sets the number of Campaign objects in the returned\
          \ array. Use in conjunction with the `startIndex` parameter to control pagination.\
          \ For example, to return the first ten campaigns set `startIndex=0` and\
          \ `count=10`. To return the next ten campaigns, set `startIndex=10` and\
          \ `count=10`, and so on. Defaults to max page size."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: stateFilter
        in: query
        description: Optional. The returned array is filtered to include only campaigns
          with state set to one of the values in the specified comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "enabled, paused, archived"
          enum:
          - enabled
          - paused
          - archived
          - "enabled, paused"
          - "enabled, archived"
          - "paused, archived"
          - "enabled, paused, archived"
      - name: name
        in: query
        description: Optional. The returned array includes only campaign with the
          specified name using an exact string match.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: campaignIdFilter
        in: query
        description: Optional. The returned array includes only campaigns with identifiers
          matching those specified in the comma-delimited string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: portfolioIdFilter
        in: query
        description: Optional. The returned array includes only campaigns associated
          with Portfolio identifiers matching those specified in the comma-delimited
          string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Campaigns
      summary: Updates one or more campaigns.
      operationId: updateCampaigns
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "An array of Campaign objects. For each object, specify a campaign\
          \ identifier and mutable fields with their updated values. The mutable fields\
          \ are `name`, `state`, `budget`, `startDate`, and `endDate`. Maximum length\
          \ of the array is 100 objects."
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateCampaign'
        required: false
      responses:
        "207":
          description: Multi-status.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignResponse'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Campaigns
      summary: Creates one or more campaigns.
      operationId: createCampaigns
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |
          An array of Campaign objects. For each object, specify required fields and their values. Required fields are `name`, `tactic`, `state`, and `startDate`. Maximum length of the array is 100 objects. If you don't specify a `budget`, it will be set as the [default budget for your region](https://advertising.amazon.com/API/docs/en-us/concepts/limits#default-budgets). Campaign names must be unique across SD, SB, and SP.
            If you are using Optimization rules, the following campaign budget must be at least:
            - 5x the value of any COST_PER_ORDER threshold.
            - 10x the value of any COST_PER_THOUSAND_VIEWABLE_IMPRESSIONS threshold.
            - 20x the value of any COST_PER_CLICK threshold.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCampaign'
        required: false
      responses:
        "207":
          description: Multi-status.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignResponse'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/campaigns/{campaignId}:
    get:
      tags:
      - Campaigns
      summary: Gets a requested campaign.
      description: "Returns a Campaign object for a requested campaign. Note that\
        \ the Campaign object is designed for performance, with a small set of commonly\
        \ used campaign fields to reduce size. If the extended set of fields is required,\
        \ use the campaign operations that return the CampaignResponseEx object."
      operationId: getCampaign
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: campaignId
        in: path
        description: The identifier of the requested campaign.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Campaigns
      summary: Sets the campaign status to archived.
      description: "This operation is equivalent to an update operation that sets\
        \ the status field to 'archived'. Note that setting the status field to 'archived'\
        \ is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/en-us/info/developer-notes#archiving)\
        \ for more information."
      operationId: archiveCampaign
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: campaignId
        in: path
        description: The identifier of the campaign.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/campaigns/extended:
    get:
      tags:
      - Campaigns
      summary: Gets a list of campaigns with extended fields.
      description: Gets an array of CampaignResponseEx objects for a set of requested
        campaigns.
      operationId: listCampaignsEx
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: "Optional. Sets a cursor into the requested set of campaigns.\
          \ Use in conjunction with the `count` parameter to control pagination of\
          \ the returned array. 0-indexed record offset for the result set, defaults\
          \ to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: "Optional. Sets the number of Campaign objects in the returned\
          \ array. Use in conjunction with the `startIndex` parameter to control pagination.\
          \ For example, to return the first ten campaigns set `startIndex=0` and\
          \ `count=10`. To return the next ten campaigns, set `startIndex=10` and\
          \ `count=10`, and so on. Defaults to max page size."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: stateFilter
        in: query
        description: Optional. The returned array is filtered to include only campaigns
          with state set to one of the values in the specified comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "enabled, paused, archived"
          enum:
          - enabled
          - paused
          - archived
          - "enabled, paused"
          - "enabled, archived"
          - "paused, archived"
          - "enabled, paused, archived"
      - name: name
        in: query
        description: Optional. The returned array includes only campaign with the
          specified name using an exact string match.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: campaignIdFilter
        in: query
        description: Optional. The returned array includes only campaigns with identifiers
          matching those specified in the comma-delimited string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: portfolioIdFilter
        in: query
        description: Optional. The returned array includes only campaigns associated
          with Portfolio identifiers matching those specified in the comma-delimited
          string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CampaignResponseEx'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/campaigns/extended/{campaignId}:
    get:
      tags:
      - Campaigns
      summary: Gets extended information for a requested campaign.
      description: Returns a CampaignResponseEx object for a requested campaign. The
        CampaignResponseEx includes the extended set of available fields.
      operationId: getCampaignResponseEx
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: campaignId
        in: path
        description: The identifier of the requested campaign.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponseEx'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/adGroups:
    get:
      tags:
      - Ad Groups
      summary: Gets a list of ad groups.
      description: "Gets an array of AdGroup objects for a requested set of Sponsored\
        \ Display ad groups. Note that the AdGroup object is designed for performance,\
        \ and includes a small set of commonly used fields to reduce size. If the\
        \ extended set of fields is required, use the ad group operations that return\
        \ the AdGroupResponseEx object."
      operationId: listAdGroups
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: "Optional. Sets a cursor into the requested set of campaigns.\
          \ Use in conjunction with the `count` parameter to control pagination of\
          \ the returned array. 0-indexed record offset for the result set, defaults\
          \ to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: "Optional. Sets the number of AdGroup objects in the returned\
          \ array. Use in conjunction with the `startIndex` parameter to control pagination.\
          \ For example, to return the first ten ad groups set `startIndex=0` and\
          \ `count=10`. To return the next ten ad groups, set `startIndex=10` and\
          \ `count=10`, and so on. Defaults to max page size."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: stateFilter
        in: query
        description: Optional. The returned array is filtered to include only ad groups
          with state set to one of the values in the specified comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "enabled, paused, archived"
          enum:
          - enabled
          - paused
          - archived
          - "enabled, paused"
          - "enabled, archived"
          - "paused, archived"
          - "enabled, paused, archived"
      - name: campaignIdFilter
        in: query
        description: Optional. The returned array is filtered to include only ad groups
          associated with the campaign identifiers in the specified comma-delimited
          list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: adGroupIdFilter
        in: query
        description: Optional. The returned array is filtered to include only ad groups
          with an identifier specified in the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: query
        description: Optional. The returned array includes only ad groups with the
          specified name.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdGroup'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Ad Groups
      summary: Updates on or more ad groups.
      operationId: updateAdGroups
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "An array of AdGroup objects. For each object, specify an ad\
          \ group identifier and mutable fields with their updated values. The mutable\
          \ fields are 'name', 'defaultBid', and 'state'. Maximum length of the array\
          \ is 100 objects."
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateAdGroup'
        required: false
      responses:
        "207":
          description: Multi-status.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdGroupResponse'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Ad Groups
      summary: Creates one or more ad groups.
      operationId: createAdGroups
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "An array of AdGroup objects. For each object, specify required\
          \ fields and their values. Required fields are `campaignId`, `name`, `state`,\
          \ and `defaultBid`. Maximum length of the array is 100 objects. Note - when\
          \ using landingPageType of OFF_AMAZON_LINK or STORES within productAds,\
          \ only 1 adGroup is supported."
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateAdGroup'
        required: false
      responses:
        "207":
          description: Multi-status.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdGroupResponse'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/adGroups/{adGroupId}:
    get:
      tags:
      - Ad Groups
      summary: Gets a requested ad group.
      description: "Returns an AdGroup object for a requested campaign. Note that\
        \ the AdGroup object is designed for performance, with a small set of commonly\
        \ used ad group fields to reduce size. If the extended set of fields is required,\
        \ use the campaign operations that return the AdGroupResponseEx object."
      operationId: getAdGroup
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: adGroupId
        in: path
        description: The identifier of the requested ad group.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroup'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Ad Groups
      summary: Sets the ad group status to archived.
      description: "This operation is equivalent to an update operation that sets\
        \ the status field to 'archived'. Note that setting the status field to 'archived'\
        \ is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/en-us/info/developer-notes#archiving)\
        \ for more information."
      operationId: archiveAdGroup
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: adGroupId
        in: path
        description: The identifier of the requested ad group.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/adGroups/extended:
    get:
      tags:
      - Ad Groups
      summary: Gets a list of ad groups with extended fields.
      description: Gets an array of AdGroupResponseEx objects for a set of requested
        ad groups.
      operationId: listAdGroupsEx
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: "Optional. Sets a cursor into the requested set of ad groups.\
          \ Use in conjunction with the `count` parameter to control pagination of\
          \ the returned array. 0-indexed record offset for the result set, defaults\
          \ to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: "Optional. Sets the number of Campaign objects in the returned\
          \ array. Use in conjunction with the `startIndex` parameter to control pagination.\
          \ For example, to return the first ten campaigns set `startIndex=0` and\
          \ `count=10`. To return the next ten campaigns, set `startIndex=10` and\
          \ `count=10`, and so on. Defaults to max page size."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: stateFilter
        in: query
        description: Optional. The returned array is filtered to include only campaigns
          with state set to one of the values in the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "enabled, paused, archived"
          enum:
          - enabled
          - paused
          - archived
          - "enabled, paused"
          - "enabled, archived"
          - "paused, archived"
          - "enabled, paused, archived"
      - name: campaignIdFilter
        in: query
        description: Optional. The returned array is filtered to include only ad groups
          associated with the campaign identifiers in the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: adGroupIdFilter
        in: query
        description: Optional. The returned array is filtered to include only ad groups
          with an identifier specified in the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: name
        in: query
        description: Optional. The returned array includes only ad groups with the
          specified name.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdGroupResponseEx'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/adGroups/extended/{adGroupId}:
    get:
      tags:
      - Ad Groups
      summary: Gets extended information for a requested ad group.
      operationId: getAdGroupResponseEx
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: adGroupId
        in: path
        description: The identifier of the requested ad group.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupResponseEx'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/productAds:
    get:
      tags:
      - Product Ads
      summary: Gets a list of product ads.
      description: "Gets an array of ProductAd objects for a requested set of Sponsored\
        \ Display product ads. Note that the ProductAd object is designed for performance,\
        \ and includes a small set of commonly used fields to reduce size. If the\
        \ extended set of fields is required, use a product ad operation that returns\
        \ the ProductAdResponseEx object."
      operationId: listProductAds
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: "Optional. Sets a cursor into the requested set of product ads.\
          \ Use in conjunction with the `count` parameter to control pagination of\
          \ the returned array. 0-indexed record offset for the result set, defaults\
          \ to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: "Optional. Sets the number of ProductAd objects in the returned\
          \ array. Use in conjunction with the `startIndex` parameter to control pagination.\
          \ For example, to return the first ten product ad set `startIndex=0` and\
          \ `count=10`. To return the next ten product ads, set `startIndex=10` and\
          \ `count=10`, and so on. Defaults to max page size."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: stateFilter
        in: query
        description: Optional. The returned array is filtered to include only products
          ads associated with campaigns that have state set to one of the values in
          the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "enabled, paused, archived"
          enum:
          - enabled
          - paused
          - archived
          - "enabled, paused"
          - "enabled, archived"
          - "paused, archived"
          - "enabled, paused, archived"
      - name: adIdFilter
        in: query
        description: Optional. The returned array includes only product ads with identifiers
          matching those in the comma-delimited string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: adGroupIdFilter
        in: query
        description: Optional. The returned array is filtered to include only products
          ads associated with ad groups identifiers in the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: campaignIdFilter
        in: query
        description: Optional. The returned array is filtered to include only product
          ads associated with the campaign identifiers in the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAd'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
      - Product Ads
      summary: Updates one or more product ads.
      operationId: updateProductAds
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "An array of ProductAd objects. For each object, specify a product\
          \ ad identifier and the only mutable field, `state`. Maximum length of the\
          \ array is 100 objects."
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateProductAd'
        required: false
      responses:
        "207":
          description: Multi-status.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAdResponse'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Product Ads
      summary: Creates one or more product ads.
      operationId: createProductAds
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: "An array of ProductAd objects. For each object, specify required\
          \ fields and their values. Required fields are `adGroupId` and `state`.\
          \ Within any campaign, you must pass consistent fields of either `asin`\
          \ (for vendors), `sku` (for sellers), or `landingPageURL` (when linking\
          \ to other pages), these cannot be mixed for any given campaign. Maximum\
          \ length of the array is 100 objects."
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateProductAd'
            examples:
              Vendor example:
                value:
                - state: enabled
                  adGroupId: 0
                  campaignId: 0
                  asin: B081FGSWTJ
              Seller example:
                value:
                - state: enabled
                  adGroupId: 0
                  campaignId: 0
                  sku: sku-1234567
              Off Amazon example:
                value:
                - state: enabled
                  adGroupId: 0
                  campaignId: 0
                  landingPageURL: https://advertising.amazon.com
                  landingPageType: OFF_AMAZON_LINK
                  adName: AmazonAdvertising
        required: false
      responses:
        "207":
          description: Multi-status.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAdResponse'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/productAds/{adId}:
    get:
      tags:
      - Product Ads
      summary: Gets a requested product ad.
      description: "Note that the ProductAd object is designed for performance, and\
        \ includes a small set of commonly used fields to reduce size. If the extended\
        \ set of fields is required, use a product ad operations that returns the\
        \ ProductAdResponseEx object."
      operationId: getProductAd
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: adId
        in: path
        description: The identifier of the requested product ad.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAd'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Product Ads
      summary: Sets the status of a sproduct ad to archived.
      description: "This operation is equivalent to an update operation that sets\
        \ the status field to 'archived'. Note that setting the status field to 'archived'\
        \ is permanent and can't be undone. See [Developer Notes](https://advertising.amazon.com/API/docs/en-us/info/developer-notes#archiving)\
        \ for more information."
      operationId: archiveProductAd
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: adId
        in: path
        description: The identifier of the produce ad.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAdResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/productAds/extended:
    get:
      tags:
      - Product Ads
      summary: Gets a list of product ads with extended fields.
      description: Gets an array of ProductAdResponseEx objects for a set of requested
        ad groups. The ProductAdResponseEx object includes the extended set of available
        fields.
      operationId: listProductAdsEx
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: "Optional. Sets a cursor into the requested set of product ads.\
          \ Use in conjunction with the `count` parameter to control pagination of\
          \ the returned array. 0-indexed record offset for the result set, defaults\
          \ to 0."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: count
        in: query
        description: "Optional. Sets the number of ProduceAdEx objects in the returned\
          \ array. Use in conjunction with the `startIndex` parameter to control pagination.\
          \ For example, to return the first ten product ads set `startIndex=0` and\
          \ `count=10`. To return the next ten campaigns, set `startIndex=10` and\
          \ `count=10`, and so on. Defaults to max page size."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: stateFilter
        in: query
        description: Optional. The returned array is filtered to include only campaigns
          with state set to one of the values in the specified comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
          default: "enabled, paused, archived"
          enum:
          - enabled
          - paused
          - archived
          - "enabled, paused"
          - "enabled, archived"
          - "paused, archived"
          - "enabled, paused, archived"
      - name: adIdFilter
        in: query
        description: Optional. The returned array includes only product ads with identifiers
          matching those in the comma-delimited string.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: adGroupIdFilter
        in: query
        description: Optional. The returned array is filtered to include only products
          ads associated with ad groups identifiers in the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: campaignIdFilter
        in: query
        description: Optional. The returned array is filtered to include only product
          ads associated with the campaign identifiers in the comma-delimited list.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProductAdResponseEx'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/productAds/extended/{adId}:
    get:
      tags:
      - Product Ads
      summary: Gets extended information for a product ad.
      operationId: getProductAdResponseEx
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: adId
        in: path
        description: The identifier of the requested product ad.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductAdResponseEx'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/brandSafety/deny:
    get:
      tags:
      - Brand Safety List
      summary: Gets a list of websites/apps that are on the advertiser's Brand Safety
        Deny List.
      description: |-
        Gets an array of websites/apps that are on the advertiser's Brand Safety Deny List. It can take up to 15 minutes
        from the time a domain is added/deleted to the time it is reflected in the deny list.
      operationId: listDomains
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: startIndex
        in: query
        description: |
          Optional. Sets a cursor into the requested set of domains. Use in conjunction with the count parameter to control pagination of the returned array. 0-indexed record offset for the result set, defaults to 0.
        required: false
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
      - name: count
        in: query
        description: |
          Optional. Sets the number of domain objects in the returned array. Use in conjunction with the startIndex parameter to control pagination. For example, to return the first 1000 domains set startIndex=0 and count=1000. To return the next 1000 domains, set startIndex=1000 and count=1000, and so on. Defaults to max page size(1000).
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          minimum: 0
          type: integer
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandSafetyGetResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Brand Safety List
      summary: |
        Creates one or more domains to add to a Brand Safety Deny List.
      description: |
        Creates one or more domains to add to a Brand Safety Deny List. The Brand Safety Deny List is at the advertiser level. It can take up to 15 minutes from the time a domain is added to the time it is reflected in the deny list.
      operationId: createBrandSafetyDenyListDomains
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: |
          An array of Brand Safety List Domain objects. For each object, specify required fields and their values. Maximum length of the array is 10,000 objects.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandSafetyPostRequest'
        required: true
      responses:
        "202":
          description: Request has been accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandSafetyUpdateResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Brand Safety List
      summary: |
        Archives all of the domains in the Brand Safety Deny List.
      description: |
        Archives all of the domains in the Brand Safety Deny List. It can take several hours from the time a domain is deleted to the time it is reflected in the deny list. You can check the status of the delete request by calling GET /sd/brandSafety/{requestId}/status. If the status is "COMPLETED", you can call GET /sd/brandSafety/deny to validate that your deny list has been successfully deleted.
      operationId: deleteBrandSafetyDenyList
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "202":
          description: Request has been accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandSafetyUpdateResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "422":
          description: "Unprocessable Entity - Request was understood, but contained\
            \ invalid parameters"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/reports/{reportId}:
    get:
      tags:
      - Reports
      summary: Gets the status of a report previously requested.
      description: |-
        Uses the `reportId` value from the response of a report previously requested via `POST` method of the `/sd/{recordType}/report` operation.

        **To understand the call flow for asynchronous reports, see [Getting started with sponsored ads reports](/API/docs/en-us/guides/reporting/v2/sponsored-ads-reports).**
      operationId: getReportStatus
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: reportId
        in: path
        description: The identifier of the requested report.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/reports/{reportId}/download:
    get:
      tags:
      - Reports
      summary: Downloads a previously requested report identified by reportId.
      description: |-
        Gets a `307 Temporary Redirect` response that includes a `location` header with the value set to an AWS S3 path where the report is located. The path expires after 30 seconds. If the path expires before the report is downloaded, a new report request must be created.

        **To understand the call flow for asynchronous reports, see [Getting started with sponsored ads reports](/API/docs/en-us/guides/reporting/v2/sponsored-ads-reports).**
      operationId: downloadReport
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: reportId
        in: path
        description: The identifier of the requested report.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "307":
          description: Successful operation.
          headers:
            Location:
              description: Redirect URI with S3 file location containing report data
              style: simple
              explode: false
              schema:
                type: string
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "401":
          description: Unauthorized - Request failed because user is not authenticated
            or is not allowed to invoke the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "403":
          description: Forbidden - Request failed because user does not have access
            to a specified resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "404":
          description: Not Found - Requested resource does not exist or is not visible
            for the authenticated user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "429":
          description: Too Many Requests - Request was rate-limited. Retry later.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        "500":
          description: Internal Server Error - Something went wrong on the server.
            Retry later and report an error if unresolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /sd/{recordType}/report:
    post:
      tags:
      - Reports
      summary: Creates a report request.
      description: |-
        **To understand the call flow for asynchronous reports, see [Getting started with sponsored ads reports](/API/docs/en-us/guides/reporting/v2/sponsored-ads-reports).**

        The Sponsored Display API supports creation of reports for campaigns, ad groups, product ads, targets, and asins. Create a ReportRequest object specifying the fields corresponding to performance data metrics to include in the report.
      operationId: requestReport
      parameters:
      - name: Amazon-Advertising-API-ClientId
        in: header
        description: The identifier of a client associated with a "Login with Amazon"
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use `GET` method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: recordType
        in: path
        description: "The type of report to generate, either `campaigns`, `adGroups`,\
          \ `productAds`, `targets`, or `asins`. The 'asins' report, also known as\
          \ the Purchased products report, is only available for seller brand owners."
        required: true
        style: simple
        explode: false
        schema:
          type: string
          enum:
          - campaigns
          - adGroups
          - productAds
          - targets
          - asins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportRequest'
        required: false
      responses:
        "202":
          description: Successful operation
          content:
            application/json:
[...]
