openapi: 3.0.1
info:
  title: Amazon Ads API ALL
  description: Amazon Advertising API
  version: "3.0"
servers:
- url: https://advertising-api.amazon.com
  description: Production server for NA
- url: https://advertising-api-eu.amazon.com
  description: Production server for EU
- url: https://advertising-api-fe.amazon.com
  description: Production server for FE
paths:
  /adsApi/v1/create/adAssociations:
    post:
      tags:
      - AdAssociations
      description: |-
        Creates AdAssociations.

        **Requires one of these permissions**:
        ["campaign_edit"]["campaign_edit"]
      operationId: CreateAdAssociation
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdAssociationRequest'
      responses:
        "207":
          description: CreateAdAssociation 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAssociationMultiStatusResponse'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/create/adGroups:
    post:
      tags:
      - AdGroups
      description: |-
        Creates AdGroups.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"], ["campaign_edit"], ["advertiser_campaign_edit","campaign_edit"]
      operationId: CreateAdGroup
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdGroupRequest'
      responses:
        "207":
          description: CreateAdGroup 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/create/ads:
    post:
      tags:
      - Ads
      description: |-
        Creates Ads.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"], ["creatives_edit"], ["advertiser_campaign_edit","creatives_edit"]
      operationId: CreateAd
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdRequest'
      responses:
        "207":
          description: CreateAd 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/create/campaigns:
    post:
      tags:
      - Campaigns
      description: |-
        Creates Campaigns.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"], ["campaign_edit"], ["advertiser_campaign_edit","campaign_edit"]
      operationId: CreateCampaign
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
      responses:
        "207":
          description: CreateCampaign 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/create/targets:
    post:
      tags:
      - Targets
      description: |-
        Creates Targets.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"], ["campaign_edit"], ["advertiser_campaign_edit","campaign_edit"]
      operationId: CreateTarget
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTargetRequest'
      responses:
        "207":
          description: CreateTarget 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/delete/adAssociations:
    post:
      tags:
      - AdAssociations
      description: |-
        Archives or deletes AdAssociations.

        **Requires one of these permissions**:
        ["campaign_edit"]["campaign_edit"]
      operationId: DeleteAdAssociation
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAdAssociationRequest'
      responses:
        "207":
          description: DeleteAdAssociation 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAssociationMultiStatusResponse'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/delete/adGroups:
    post:
      tags:
      - AdGroups
      description: |-
        Archives or deletes AdGroups.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"]
      operationId: DeleteAdGroup
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAdGroupRequest'
      responses:
        "207":
          description: DeleteAdGroup 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/delete/ads:
    post:
      tags:
      - Ads
      description: |-
        Archives or deletes Ads.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"]
      operationId: DeleteAd
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAdRequest'
      responses:
        "207":
          description: DeleteAd 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/delete/campaigns:
    post:
      tags:
      - Campaigns
      description: |-
        Archives or deletes Campaigns.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"]
      operationId: DeleteCampaign
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCampaignRequest'
      responses:
        "207":
          description: DeleteCampaign 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/delete/targets:
    post:
      tags:
      - Targets
      description: |-
        Archives or deletes Targets.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"], ["campaign_edit"], ["advertiser_campaign_edit","campaign_edit"]
      operationId: DeleteTarget
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteTargetRequest'
      responses:
        "207":
          description: DeleteTarget 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/query/adAssociations:
    post:
      tags:
      - AdAssociations
      description: |-
        A search read, allowing use of more complex filters.

        **Requires one of these permissions**:
        ["campaign_view","creatives_view"]["campaign_view","creatives_view"]
      operationId: QueryAdAssociation
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryAdAssociationRequest'
      responses:
        "200":
          description: QueryAdAssociation 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAssociationSuccessResponse'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/query/adGroups:
    post:
      tags:
      - AdGroups
      description: |-
        A search read, allowing use of more complex filters.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit","advertiser_campaign_view"], ["campaign_view"], ["advertiser_campaign_edit","advertiser_campaign_view","campaign_view"]
      operationId: QueryAdGroup
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryAdGroupRequest'
        required: true
      responses:
        "200":
          description: QueryAdGroup 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupSuccessResponse'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/query/ads:
    post:
      tags:
      - Ads
      description: |-
        A search read, allowing use of more complex filters.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit","advertiser_campaign_view"], ["creatives_view"], ["advertiser_campaign_edit","advertiser_campaign_view","creatives_view"]
      operationId: QueryAd
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryAdRequest'
        required: true
      responses:
        "200":
          description: QueryAd 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSuccessResponse'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/query/campaigns:
    post:
      tags:
      - Campaigns
      description: |-
        A search read, allowing use of more complex filters.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit","advertiser_campaign_view"], ["campaign_view"], ["advertiser_campaign_edit","advertiser_campaign_view","campaign_view"]
      operationId: QueryCampaign
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryCampaignRequest'
        required: true
      responses:
        "200":
          description: QueryCampaign 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSuccessResponse'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/query/targets:
    post:
      tags:
      - Targets
      description: |-
        A search read, allowing use of more complex filters.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit","advertiser_campaign_view"], ["campaign_edit","campaign_view"], ["advertiser_campaign_edit","advertiser_campaign_view","campaign_edit","campaign_view"]
      operationId: QueryTarget
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryTargetRequest'
        required: true
      responses:
        "200":
          description: QueryTarget 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetSuccessResponse'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/update/adAssociations:
    post:
      tags:
      - AdAssociations
      description: |-
        Updates AdAssociations. Behaves as PATCH unless otherwise stated.

        **Requires one of these permissions**:
        ["campaign_edit"]["campaign_edit"]
      operationId: UpdateAdAssociation
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdAssociationRequest'
      responses:
        "207":
          description: UpdateAdAssociation 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdAssociationMultiStatusResponse'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/update/adGroups:
    post:
      tags:
      - AdGroups
      description: |-
        Updates AdGroups. Behaves as PATCH unless otherwise stated.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"], ["campaign_edit"], ["advertiser_campaign_edit","campaign_edit"]
      operationId: UpdateAdGroup
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdGroupRequest'
      responses:
        "207":
          description: UpdateAdGroup 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdGroupMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/update/ads:
    post:
      tags:
      - Ads
      description: |-
        Updates Ads. Behaves as PATCH unless otherwise stated.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"], ["creatives_edit"], ["advertiser_campaign_edit","creatives_edit"]
      operationId: UpdateAd
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdRequest'
      responses:
        "207":
          description: UpdateAd 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/update/campaigns:
    post:
      tags:
      - Campaigns
      description: |-
        Updates Campaigns. Behaves as PATCH unless otherwise stated.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"], ["campaign_edit"], ["advertiser_campaign_edit","campaign_edit"]
      operationId: UpdateCampaign
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignRequest'
      responses:
        "207":
          description: UpdateCampaign 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
  /adsApi/v1/update/targets:
    post:
      tags:
      - Targets
      description: |-
        Updates Targets. Behaves as PATCH unless otherwise stated.

        **Requires one of these permissions**:
        ["advertiser_campaign_edit"]
      operationId: UpdateTarget
      parameters:
      - name: Amazon-Ads-AccountId
        in: header
        description: The identifier of an Amazon Ads Advertiser Account.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Ads-ClientId
        in: header
        description: The identifier of a client associated with a 'Login with Amazon'
          account.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Amazon-Advertising-API-Scope
        in: header
        description: The identifier of a profile associated with the advertiser account.
          Use GET method on Profiles resource to list profiles associated with the
          access token passed in the HTTP Authorization header and choose profile
          id profileId from the response to pass it as input.
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTargetRequest'
      responses:
        "207":
          description: UpdateTarget 207 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetMultiStatusResponseWithPartialErrors'
        "400":
          description: BadRequest 400 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResponseContent'
        "401":
          description: Unauthorized 401 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResponseContent'
        "403":
          description: Forbidden 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResponseContent'
        "404":
          description: NotFound 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponseContent'
        "413":
          description: ContentTooLarge 413 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentTooLargeResponseContent'
        "429":
          description: TooManyRequests 429 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TooManyRequestsResponseContent'
        "500":
          description: InternalServerError 500 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalServerErrorResponseContent'
        "502":
          description: BadGateway 502 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadGatewayResponseContent'
        "503":
          description: ServiceUnavailableError 503 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableErrorResponseContent'
        "504":
          description: GatewayTimeout 504 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayTimeoutResponseContent'
      security:
      - OAuth2:
        - advertising::campaign_management
components:
  schemas:
    AcrossGroupOperator:
      type: string
      description: |-
        | AcrossGroupOperator | Description |
        | --- | --- |
        | `ANY` |  |
        | `ALL` |  |
      enum:
      - ALL
      - ANY
    Ad:
      required:
      - adId
      - adProduct
      - adType
      - creationDateTime
      - creative
      - lastUpdatedDateTime
      - state
      type: object
      properties:
        activeCreative:
          $ref: '#/components/schemas/Creative'
        adGroupId:
          type: string
          description: The ad group associated with the ad.
        adId:
          type: string
          description: The identifier of the ad.
        adProduct:
          $ref: '#/components/schemas/AdProduct'
        adType:
          $ref: '#/components/schemas/AdType'
        campaignId:
          type: string
          description: The campaign associated with the ad. It's a read-only field.
        creationDateTime:
          type: string
          description: The date time that the ad was created.
          format: date-time
        creative:
          $ref: '#/components/schemas/Creative'
        lastUpdatedDateTime:
          type: string
          description: The date time that the ad was last updated.
          format: date-time
        marketplaceConfigurations:
          maxItems: 30
          minItems: 0
          type: array
          description: "List of marketplace-specific configurations for a global ad\
            \ that enables overriding certain attributes at individual marketplace\
            \ level. For example, if a global ad is ENABLED but needs to be PAUSED\
            \ in DE marketplace, you can specify: [{marketplace: DE, overrides: {state:\
            \ PAUSED}}]. When a marketplace-specific override is not provided, the\
            \ ad's global value is applied to that marketplace."
          items:
            $ref: '#/components/schemas/MarketplaceAdConfigurations'
        marketplaceScope:
          $ref: '#/components/schemas/MarketplaceScope'
        marketplaces:
          maxItems: 30
          minItems: 0
          type: array
          description: |-
            A list of country codes representing Amazon marketplaces
            | Marketplace | Description |
            | --- | --- |
            | `AE` |  |
            | `AU` |  |
            | `BE` |  |
            | `BR` |  |
            | `CA` |  |
            | `DE` |  |
            | `EG` |  |
            | `ES` |  |
            | `FR` |  |
            | `GB` |  |
            | `IN` |  |
            | `IT` |  |
            | `JP` |  |
            | `MX` |  |
            | `NL` |  |
            | `PL` |  |
            | `SA` |  |
            | `SE` |  |
            | `SG` |  |
            | `TR` |  |
            | `US` |  |
          items:
            $ref: '#/components/schemas/Marketplace'
        name:
          type: string
          description: The name of the ad.
        state:
          $ref: '#/components/schemas/State'
        status:
          $ref: '#/components/schemas/Status'
        tags:
          maxItems: 50
          minItems: 0
          type: array
          description: Open ended labels with a key value pair applied to the ad
          items:
            $ref: '#/components/schemas/Tag'
      example:
        activeCreative: ""
        adProduct: AMAZON_DSP
        campaignId: campaignId
        marketplaceConfigurations:
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        - adId: adId
          marketplace: AE
          overrides:
            state: ARCHIVED
            tags:
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
            - value: value
              key: key
        marketplaces:
        - null
        - null
        - null
        - null
        - null
        - null
        - null
        - null
        - null
        - null
        adGroupId: adGroupId
        creative: null
        tags:
        - null
        - null
        - null
        - null
        - null
        - null
        - null
        - null
        - null
        - null
        adType: AUDIO
        adId: adId
        name: name
        lastUpdatedDateTime: 2000-01-23T04:56:07.000+00:00
        marketplaceScope: GLOBAL
        state: null
        creationDateTime: 2000-01-23T04:56:07.000+00:00
        status:
          deliveryReasons:
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          - ADVERTISER_ARCHIVED
          marketplaceSettings:
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          - deliveryReasons:
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            - null
            marketplace: null
            deliveryStatus: null
          deliveryStatus: DELIVERING
    AdAdGroupIdFilter:
      required:
      - include
      type: object
      properties:
        include:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
    AdAdIdFilter:
      required:
      - include
      type: object
      properties:
        include:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
    AdAdProductFilter:
      required:
      - include
      type: object
      properties:
        include:
          maxItems: 1
          minItems: 1
          type: array
          description: |-
            | AdProduct | Description |
            | --- | --- |
            | `SPONSORED_PRODUCTS` |  |
            | `SPONSORED_BRANDS` |  |
            | `SPONSORED_DISPLAY` |  |
            | `SPONSORED_TELEVISION` |  |
            | `AMAZON_DSP` |  |
          items:
            $ref: '#/components/schemas/AdProduct'
    AdAssociation:
      required:
      - adAssociationId
      - adGroupId
      - adId
      - state
      type: object
      properties:
        adAssociationId:
          type: string
          description: The unique identifier of the ad association.
        adGroupId:
          type: string
          description: The ad group associated with the ad.
        adId:
          type: string
          description: The ad Id  associated with the ad.
        endDateTime:
          type: string
          description: The end date time for the ad association.
          format: date-time
        startDateTime:
          type: string
          description: The start date time for the ad association.
          format: date-time
        state:
          $ref: '#/components/schemas/State'
        weight:
          type: integer
          description: The relative percentage of traffic which would be directed
            to the associated Ad Creative in the Ad Group.
          format: int32
      example:
        adAssociationId: adAssociationId
        adId: adId
        startDateTime: 2000-01-23T04:56:07.000+00:00
        weight: 6
        state: ARCHIVED
        endDateTime: 2000-01-23T04:56:07.000+00:00
        adGroupId: adGroupId
    AdAssociationAdAssociationIdFilter:
      required:
      - include
      type: object
      properties:
        include:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
    AdAssociationAdGroupIdFilter:
      required:
      - include
      type: object
      properties:
        include:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
    AdAssociationAdIdFilter:
      required:
      - include
      type: object
      properties:
        include:
          maxItems: 100
          minItems: 1
          type: array
          items:
            type: string
    AdAssociationCreate:
      required:
      - adGroupId
      - adId
      - state
      type: object
      properties:
        adGroupId:
          type: string
          description: The ad group associated with the ad.
        adId:
          type: string
          description: The ad Id  associated with the ad.
        endDateTime:
          type: string
          description: The end date time for the ad association.
          format: date-time
        startDateTime:
          type: string
          description: The start date time for the ad association.
          format: date-time
        state:
          $ref: '#/components/schemas/CreateState'
        weight:
          type: integer
          description: The relative percentage of traffic which would be directed
            to the associated Ad Creative in the Ad Group.
          format: int32
    AdAssociationMultiStatusResponse:
      type: object
      properties:
        error:
          maxItems: 20
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/ErrorsIndex'
        success:
          maxItems: 20
          minItems: 0
          type: array
          items:
            $ref: '#/components/schemas/AdAssociationMultiStatusSuccess'
      example:
        success:
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        - adAssociation:
            adAssociationId: adAssociationId
            adId: adId
            startDateTime: 2000-01-23T04:56:07.000+00:00
            weight: 6
            state: ARCHIVED
            endDateTime: 2000-01-23T04:56:07.000+00:00
            adGroupId: adGroupId
          index: 2
        error:
        - index: 80
          errors:
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
        - index: 80
          errors:
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
        - index: 80
          errors:
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
          - fieldLocation: fieldLocation
            code: ACTION_NOT_SUPPORTED
            message: message
[...]
